doctype html
html
  head
    title Fastify App
  body
    header
      nav
        a(href="/") Главная
        a(href="/users") Пользователи
    
    main
      block content
    
    footer
      p Fastify PUG Layout Footer
